# 1. Hotness Metrics by County

In [2]:
import pandas as pd
from sqlalchemy import create_engine

#Read CSV

df = pd.read_csv("../Dataset/Market_Hotness/Hotness_Metrics_County_History.csv")

C:\Users\bryan\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Engine connection
rds_connection_string = "postgres:postgres@localhost:5432/Real_Estate"
engine = create_engine(f'postgresql://{rds_connection_string}')

# Verifying that connection is made
engine.table_names()

['hotness_by_county',
 'hotness_by_metro',
 'monthly_by_country',
 'monthly_by_state',
 'weekly_by_country',
 'weekly_by_metro',
 'monthly_by_county',
 'monthly_by_metro']

In [4]:
#Dropping unwannted rows

df.drop(labels =[77322], axis=0,inplace = True)
df

,month_date_yyyymm,county_fips,county_name,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202108,13045,"carroll, ga",12060.0,"atlanta-sandy springs-roswell, ga",576.0,719.0,94.0,-58.0,52.060875,...,-13.5,-7.5,-0.150000,0.133333,0.7312,334500.0,-0.001493,0.195070,0.8803,0.0
1,202108,22115,"vernon, la",22860.0,"fort polk south, la",970.0,1407.0,-82.0,100.0,19.150285,...,-39.0,9.0,-0.074074,0.785714,0.5376,202450.0,0.306129,0.397170,0.5328,0.0
2,202108,18051,"gibson, in",NaN,NaN,NaN,492.0,15.0,426.0,61.287254,...,-50.0,-10.0,-0.069767,-0.183673,0.8602,150000.0,-0.090358,-0.090358,0.3947,0.0
3,202108,13047,"catoosa, ga",16860.0,"chattanooga, tn-ga",806.0,73.0,-7.0,98.0,88.554217,...,-18.5,-9.5,0.035714,0.279412,1.8710,304900.0,-0.016134,0.037428,0.8024,0.0
4,202108,13029,"bryan, ga",42340.0,"savannah, ga",1273.0,917.0,204.0,343.0,45.846544,...,-24.0,-1.0,-0.111111,1.105263,0.8602,389942.5,0.026164,0.260318,1.0262,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77317,201708,26105,"mason, mi",31220.0,"ludington, mi",1292.0,949.0,NaN,NaN,42.327204,...,NaN,28.5,NaN,NaN,1.2000,169900.0,NaN,NaN,0.6090,NaN
77318,201708,38101,"ward, nd",33500.0,"minot, nd",729.0,1030.0,NaN,NaN,37.920101,...,NaN,1.5,NaN,NaN,0.6000,209900.0,NaN,NaN,0.7523,NaN
77319,201708,27059,"isanti, mn",33460.0,"minneapolis-st. paul-bloomington, mn-wi",1187.0,202.0,NaN,NaN,80.944832,...,NaN,-21.0,NaN,NaN,1.3000,227900.0,NaN,NaN,0.8168,NaN
77320,201708,24009,"calvert, md",47900.0,"washington-arlington-alexandria, dc-va-md-wv",680.0,801.0,NaN,NaN,50.126823,...,NaN,-3.0,NaN,NaN,0.8000,347000.0,NaN,NaN,1.2437,NaN
77321,201708,13073,"columbia, ga",12260.0,"augusta-richmond county, ga-sc",465.0,1054.0,NaN,NaN,35.954344,...,NaN,0.5,NaN,NaN,0.5000,249949.5,NaN,NaN,0.8959,NaN

In [5]:
# new data frame with split value columns
new = df["county_name"].str.split(",", n = 1, expand = True)
  
# making separate first name column from new data frame
df["county"]= new[0]
  
# making separate last name column from new data frame
df["state_id"]= new[1]
  
# Dropping old Name columns
df.drop(columns =["county_name"], inplace = True)
df['county'] = df['county'].str.replace(',', '')
df

,month_date_yyyymm,county_fips,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,...,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag,county,state_id
0,202108,13045,12060.0,"atlanta-sandy springs-roswell, ga",576.0,719.0,94.0,-58.0,52.060875,77.171845,...,-0.150000,0.133333,0.7312,334500.0,-0.001493,0.195070,0.8803,0.0,carroll,ga
1,202108,22115,22860.0,"fort polk south, la",970.0,1407.0,-82.0,100.0,19.150285,26.188966,...,-0.074074,0.785714,0.5376,202450.0,0.306129,0.397170,0.5328,0.0,vernon,la
2,202108,18051,NaN,NaN,NaN,492.0,15.0,426.0,61.287254,84.717819,...,-0.069767,-0.183673,0.8602,150000.0,-0.090358,-0.090358,0.3947,0.0,gibson,in
3,202108,13047,16860.0,"chattanooga, tn-ga",806.0,73.0,-7.0,98.0,88.554217,83.449588,...,0.035714,0.279412,1.8710,304900.0,-0.016134,0.037428,0.8024,0.0,catoosa,ga
4,202108,13029,42340.0,"savannah, ga",1273.0,917.0,204.0,343.0,45.846544,53.012048,...,-0.111111,1.105263,0.8602,389942.5,0.026164,0.260318,1.0262,0.0,bryan,ga
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77317,201708,26105,31220.0,"ludington, mi",1292.0,949.0,NaN,NaN,42.327204,20.164870,...,NaN,NaN,1.2000,169900.0,NaN,NaN,0.6090,NaN,mason,mi
77318,201708,38101,33500.0,"minot, nd",729.0,1030.0,NaN,NaN,37.920101,57.260621,...,NaN,NaN,0.6000,209900.0,NaN,NaN,0.7523,NaN,ward,nd
77319,201708,27059,33460.0,"minneapolis-st. paul-bloomington, mn-wi",1187.0,202.0,NaN,NaN,80.944832,91.185796,...,NaN,NaN,1.3000,227900.0,NaN,NaN,0.8168,NaN,isanti,mn
77320,201708,24009,47900.0,"washington-arlington-alexandria, dc-va-md-wv",680.0,801.0,NaN,NaN,50.126823,64.996829,...,NaN,NaN,0.8000,347000.0,NaN,NaN,1.2437,NaN,calvert,md
77321,201708,13073,12260.0,"augusta-richmond county, ga-sc",465.0,1054.0,NaN,NaN,35.954344,58.909321,...,NaN,NaN,0.5000,249949.5,NaN,NaN,0.8959,NaN,columbia,ga

In [6]:
for col in df.columns:
    print(col)

month_date_yyyymm
county_fips
cbsa_code
cbsa_title
nielsen_hh_rank
hotness_rank
hotness_rank_mm
hotness_rank_yy
hotness_score
supply_score
demand_score
median_days_on_market
median_days_on_market_mm
median_dom_mm_day
median_days_on_market_yy
median_dom_yy_day
median_dom_vs_us
ldp_unique_viewers_per_property_mm
ldp_unique_viewers_per_property_yy
ldp_unique_viewers_per_property_vs_us
median_listing_price
median_listing_price_mm
median_listing_price_yy
median_listing_price_vs_us
quality_flag
county
state_id

In [7]:
df = df[[

'month_date_yyyymm',
'state_id',
'county',
'county_fips',
'cbsa_code',
'cbsa_title',
'nielsen_hh_rank',
'hotness_rank',
'hotness_rank_mm',
'hotness_rank_yy',
'hotness_score',
'supply_score',
'demand_score',
'median_days_on_market',
'median_days_on_market_mm',
'median_dom_mm_day',
'median_days_on_market_yy',
'median_dom_yy_day',
'median_dom_vs_us',
'ldp_unique_viewers_per_property_mm',
'ldp_unique_viewers_per_property_yy',
'ldp_unique_viewers_per_property_vs_us',
'median_listing_price',
'median_listing_price_mm',
'median_listing_price_yy',
'median_listing_price_vs_us',
'quality_flag'
]]
df

,month_date_yyyymm,state_id,county,county_fips,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202108,ga,carroll,13045,12060.0,"atlanta-sandy springs-roswell, ga",576.0,719.0,94.0,-58.0,...,-13.5,-7.5,-0.150000,0.133333,0.7312,334500.0,-0.001493,0.195070,0.8803,0.0
1,202108,la,vernon,22115,22860.0,"fort polk south, la",970.0,1407.0,-82.0,100.0,...,-39.0,9.0,-0.074074,0.785714,0.5376,202450.0,0.306129,0.397170,0.5328,0.0
2,202108,in,gibson,18051,NaN,NaN,NaN,492.0,15.0,426.0,...,-50.0,-10.0,-0.069767,-0.183673,0.8602,150000.0,-0.090358,-0.090358,0.3947,0.0
3,202108,ga,catoosa,13047,16860.0,"chattanooga, tn-ga",806.0,73.0,-7.0,98.0,...,-18.5,-9.5,0.035714,0.279412,1.8710,304900.0,-0.016134,0.037428,0.8024,0.0
4,202108,ga,bryan,13029,42340.0,"savannah, ga",1273.0,917.0,204.0,343.0,...,-24.0,-1.0,-0.111111,1.105263,0.8602,389942.5,0.026164,0.260318,1.0262,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77317,201708,mi,mason,26105,31220.0,"ludington, mi",1292.0,949.0,NaN,NaN,...,NaN,28.5,NaN,NaN,1.2000,169900.0,NaN,NaN,0.6090,NaN
77318,201708,nd,ward,38101,33500.0,"minot, nd",729.0,1030.0,NaN,NaN,...,NaN,1.5,NaN,NaN,0.6000,209900.0,NaN,NaN,0.7523,NaN
77319,201708,mn,isanti,27059,33460.0,"minneapolis-st. paul-bloomington, mn-wi",1187.0,202.0,NaN,NaN,...,NaN,-21.0,NaN,NaN,1.3000,227900.0,NaN,NaN,0.8168,NaN
77320,201708,md,calvert,24009,47900.0,"washington-arlington-alexandria, dc-va-md-wv",680.0,801.0,NaN,NaN,...,NaN,-3.0,NaN,NaN,0.8000,347000.0,NaN,NaN,1.2437,NaN
77321,201708,ga,columbia,13073,12260.0,"augusta-richmond county, ga-sc",465.0,1054.0,NaN,NaN,...,NaN,0.5,NaN,NaN,0.5000,249949.5,NaN,NaN,0.8959,NaN

In [8]:
df.to_csv("../Output/Hotness_Metrics_By_County.csv")

In [9]:
# Loading data into Postgres Database 
df.to_sql(name='hotness_by_county', con=engine, if_exists='append', index=False)

# 2. Hotness Metrics by Metro

In [10]:
metro_hotness = pd.read_csv("../Dataset/Market_Hotness/Hotness_Metrics_Metro_History.csv")
metro_hotness

,month_date_yyyymm,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202108,17780,"college station-bryan, tx",193.0,218.0,15.0,74.0,36.120401,51.839465,20.401338,...,-42.0,-3.0,-0.107143,1.272727,0.6757,299000.0,-0.092564,0.128302,0.7868,0.0
1,202108,40420,"rockford, il",154.0,62.0,-5.0,-3.0,68.060201,78.929766,57.190635,...,-15.5,-9.5,-0.187500,-0.048780,1.0541,167450.0,-0.009172,-0.014420,0.4407,0.0
2,202108,22900,"fort smith, ar-ok",170.0,157.0,-44.0,112.0,48.160535,49.832776,46.488294,...,-36.5,-2.5,-0.100000,0.636364,0.9730,203499.5,-0.030955,0.023125,0.5355,0.0
3,202108,14010,"bloomington, il",224.0,266.0,-11.0,-13.0,21.739130,2.341137,41.137124,...,-2.0,32.0,-0.128205,0.307692,0.9189,130000.0,-0.071429,-0.037037,0.3421,0.0
4,202108,46060,"tucson, az",51.0,201.0,9.0,-37.0,40.468227,65.551839,15.384615,...,-13.0,-6.0,-0.153846,-0.043478,0.5946,359700.0,0.027714,0.107110,0.9466,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14696,201708,41500,"salinas, ca",150.0,71.0,NaN,NaN,71.571906,48.160535,94.983278,...,NaN,-2.5,NaN,NaN,2.0000,890001.0,NaN,NaN,3.1900,NaN
14697,201708,44300,"state college, pa",270.0,122.0,NaN,NaN,57.023411,28.428094,85.618729,...,NaN,11.0,NaN,NaN,1.5556,253200.0,NaN,NaN,0.9075,NaN
14698,201708,20100,"dover, de",251.0,237.0,NaN,NaN,28.093645,8.026756,48.160535,...,NaN,26.5,NaN,NaN,1.0000,247900.0,NaN,NaN,0.8885,NaN
14699,201708,45500,"texarkana, tx-ar",285.0,225.0,NaN,NaN,30.602007,39.130435,22.073579,...,NaN,2.5,NaN,NaN,0.7778,140950.0,NaN,NaN,0.5052,NaN
14700,quality_flag = 1: year-over-year figures may ...,please contact economics@realtor.com for more...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
metro_hotness.drop(labels =[14700], axis=0,inplace = True)
metro_hotness

,month_date_yyyymm,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202108,17780,"college station-bryan, tx",193.0,218.0,15.0,74.0,36.120401,51.839465,20.401338,...,-42.0,-3.0,-0.107143,1.272727,0.6757,299000.0,-0.092564,0.128302,0.7868,0.0
1,202108,40420,"rockford, il",154.0,62.0,-5.0,-3.0,68.060201,78.929766,57.190635,...,-15.5,-9.5,-0.187500,-0.048780,1.0541,167450.0,-0.009172,-0.014420,0.4407,0.0
2,202108,22900,"fort smith, ar-ok",170.0,157.0,-44.0,112.0,48.160535,49.832776,46.488294,...,-36.5,-2.5,-0.100000,0.636364,0.9730,203499.5,-0.030955,0.023125,0.5355,0.0
3,202108,14010,"bloomington, il",224.0,266.0,-11.0,-13.0,21.739130,2.341137,41.137124,...,-2.0,32.0,-0.128205,0.307692,0.9189,130000.0,-0.071429,-0.037037,0.3421,0.0
4,202108,46060,"tucson, az",51.0,201.0,9.0,-37.0,40.468227,65.551839,15.384615,...,-13.0,-6.0,-0.153846,-0.043478,0.5946,359700.0,0.027714,0.107110,0.9466,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14695,201708,17660,"coeur d'alene, id",272.0,113.0,NaN,NaN,59.030100,65.217391,52.842809,...,NaN,-10.0,NaN,NaN,1.0000,381300.0,NaN,NaN,1.3667,NaN
14696,201708,41500,"salinas, ca",150.0,71.0,NaN,NaN,71.571906,48.160535,94.983278,...,NaN,-2.5,NaN,NaN,2.0000,890001.0,NaN,NaN,3.1900,NaN
14697,201708,44300,"state college, pa",270.0,122.0,NaN,NaN,57.023411,28.428094,85.618729,...,NaN,11.0,NaN,NaN,1.5556,253200.0,NaN,NaN,0.9075,NaN
14698,201708,20100,"dover, de",251.0,237.0,NaN,NaN,28.093645,8.026756,48.160535,...,NaN,26.5,NaN,NaN,1.0000,247900.0,NaN,NaN,0.8885,NaN
14699,201708,45500,"texarkana, tx-ar",285.0,225.0,NaN,NaN,30.602007,39.130435,22.073579,...,NaN,2.5,NaN,NaN,0.7778,140950.0,NaN,NaN,0.5052,NaN

In [12]:
# new data frame with split value columns
new = metro_hotness["cbsa_title"].str.split(",", n = 1, expand = True)
  
# making separate first name column from new data frame
metro_hotness["metro"]= new[0]
  
# making separate last name column from new data frame
metro_hotness["state_id"]= new[1]

metro_hotness

,month_date_yyyymm,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag,metro,state_id
0,202108,17780,"college station-bryan, tx",193.0,218.0,15.0,74.0,36.120401,51.839465,20.401338,...,-0.107143,1.272727,0.6757,299000.0,-0.092564,0.128302,0.7868,0.0,college station-bryan,tx
1,202108,40420,"rockford, il",154.0,62.0,-5.0,-3.0,68.060201,78.929766,57.190635,...,-0.187500,-0.048780,1.0541,167450.0,-0.009172,-0.014420,0.4407,0.0,rockford,il
2,202108,22900,"fort smith, ar-ok",170.0,157.0,-44.0,112.0,48.160535,49.832776,46.488294,...,-0.100000,0.636364,0.9730,203499.5,-0.030955,0.023125,0.5355,0.0,fort smith,ar-ok
3,202108,14010,"bloomington, il",224.0,266.0,-11.0,-13.0,21.739130,2.341137,41.137124,...,-0.128205,0.307692,0.9189,130000.0,-0.071429,-0.037037,0.3421,0.0,bloomington,il
4,202108,46060,"tucson, az",51.0,201.0,9.0,-37.0,40.468227,65.551839,15.384615,...,-0.153846,-0.043478,0.5946,359700.0,0.027714,0.107110,0.9466,0.0,tucson,az
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14695,201708,17660,"coeur d'alene, id",272.0,113.0,NaN,NaN,59.030100,65.217391,52.842809,...,NaN,NaN,1.0000,381300.0,NaN,NaN,1.3667,NaN,coeur d'alene,id
14696,201708,41500,"salinas, ca",150.0,71.0,NaN,NaN,71.571906,48.160535,94.983278,...,NaN,NaN,2.0000,890001.0,NaN,NaN,3.1900,NaN,salinas,ca
14697,201708,44300,"state college, pa",270.0,122.0,NaN,NaN,57.023411,28.428094,85.618729,...,NaN,NaN,1.5556,253200.0,NaN,NaN,0.9075,NaN,state college,pa
14698,201708,20100,"dover, de",251.0,237.0,NaN,NaN,28.093645,8.026756,48.160535,...,NaN,NaN,1.0000,247900.0,NaN,NaN,0.8885,NaN,dover,de
14699,201708,45500,"texarkana, tx-ar",285.0,225.0,NaN,NaN,30.602007,39.130435,22.073579,...,NaN,NaN,0.7778,140950.0,NaN,NaN,0.5052,NaN,texarkana,tx-ar

In [13]:
for col in metro_hotness.columns:
    print(col)

month_date_yyyymm
cbsa_code
cbsa_title
nielsen_hh_rank
hotness_rank
hotness_rank_mm
hotness_rank_yy
hotness_score
supply_score
demand_score
median_days_on_market
median_days_on_market_mm
median_dom_mm_day
median_days_on_market_yy
median_dom_yy_day
median_dom_vs_us
ldp_unique_viewers_per_property_mm
ldp_unique_viewers_per_property_yy
ldp_unique_viewers_per_property_vs_us
median_listing_price
median_listing_price_mm
median_listing_price_yy
median_listing_price_vs_us
quality_flag
metro
state_id

In [14]:
metro_hotness = metro_hotness[[
    
'month_date_yyyymm',
'metro',
'state_id',
'cbsa_code',
'cbsa_title',
'nielsen_hh_rank',
'hotness_rank',
'hotness_rank_mm',
'hotness_rank_yy',
'hotness_score',
'supply_score',
'demand_score',
'median_days_on_market',
'median_days_on_market_mm',
'median_dom_mm_day',
'median_days_on_market_yy',
'median_dom_yy_day',
'median_dom_vs_us',
'ldp_unique_viewers_per_property_mm',
'ldp_unique_viewers_per_property_yy',
'ldp_unique_viewers_per_property_vs_us',
'median_listing_price',
'median_listing_price_mm',
'median_listing_price_yy',
'median_listing_price_vs_us',
'quality_flag'

    
]]
metro_hotness

,month_date_yyyymm,metro,state_id,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202108,college station-bryan,tx,17780,"college station-bryan, tx",193.0,218.0,15.0,74.0,36.120401,...,-42.0,-3.0,-0.107143,1.272727,0.6757,299000.0,-0.092564,0.128302,0.7868,0.0
1,202108,rockford,il,40420,"rockford, il",154.0,62.0,-5.0,-3.0,68.060201,...,-15.5,-9.5,-0.187500,-0.048780,1.0541,167450.0,-0.009172,-0.014420,0.4407,0.0
2,202108,fort smith,ar-ok,22900,"fort smith, ar-ok",170.0,157.0,-44.0,112.0,48.160535,...,-36.5,-2.5,-0.100000,0.636364,0.9730,203499.5,-0.030955,0.023125,0.5355,0.0
3,202108,bloomington,il,14010,"bloomington, il",224.0,266.0,-11.0,-13.0,21.739130,...,-2.0,32.0,-0.128205,0.307692,0.9189,130000.0,-0.071429,-0.037037,0.3421,0.0
4,202108,tucson,az,46060,"tucson, az",51.0,201.0,9.0,-37.0,40.468227,...,-13.0,-6.0,-0.153846,-0.043478,0.5946,359700.0,0.027714,0.107110,0.9466,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14695,201708,coeur d'alene,id,17660,"coeur d'alene, id",272.0,113.0,NaN,NaN,59.030100,...,NaN,-10.0,NaN,NaN,1.0000,381300.0,NaN,NaN,1.3667,NaN
14696,201708,salinas,ca,41500,"salinas, ca",150.0,71.0,NaN,NaN,71.571906,...,NaN,-2.5,NaN,NaN,2.0000,890001.0,NaN,NaN,3.1900,NaN
14697,201708,state college,pa,44300,"state college, pa",270.0,122.0,NaN,NaN,57.023411,...,NaN,11.0,NaN,NaN,1.5556,253200.0,NaN,NaN,0.9075,NaN
14698,201708,dover,de,20100,"dover, de",251.0,237.0,NaN,NaN,28.093645,...,NaN,26.5,NaN,NaN,1.0000,247900.0,NaN,NaN,0.8885,NaN
14699,201708,texarkana,tx-ar,45500,"texarkana, tx-ar",285.0,225.0,NaN,NaN,30.602007,...,NaN,2.5,NaN,NaN,0.7778,140950.0,NaN,NaN,0.5052,NaN

In [15]:
metro_hotness.to_csv("../Output/Hotness_Metrics_By_Metro.csv")

# 3. Hotness Metrics by Zip

In [16]:
metro_hotness['month_date_yyyymm'] = metro_hotness['month_date_yyyymm'].astype('int32')
metro_hotness.dtypes

month_date_yyyymm                          int32
metro                                     object
state_id                                  object
cbsa_code                                 object
cbsa_title                                object
nielsen_hh_rank                          float64
hotness_rank                             float64
hotness_rank_mm                          float64
hotness_rank_yy                          float64
hotness_score                            float64
supply_score                             float64
demand_score                             float64
median_days_on_market                    float64
median_days_on_market_mm                 float64
median_dom_mm_day                        float64
median_days_on_market_yy                 float64
median_dom_yy_day                        float64
median_dom_vs_us                         float64
ldp_unique_viewers_per_property_mm       float64
ldp_unique_viewers_per_property_yy       float64
ldp_unique_viewers_per_property_vs_us    float64
median_listing_price                     float64
median_listing_price_mm                  float64
median_listing_price_yy                  float64
median_listing_price_vs_us               float64
quality_flag                             float64
dtype: object

In [17]:
# Loading data into Postgres Database 
metro_hotness.to_sql(name='hotness_by_metro', con=engine, if_exists='append', index=False)

In [18]:
zip_hotness = pd.read_csv("../Dataset/Market_Hotness/Hotness_Metrics_zip_History.csv")
zip_hotness

FileNotFoundError: [Errno 2] File ../Dataset/Market_Hotness/Hotness_Metrics_zip_History.csv does not exist: '../Dataset/Market_Hotness/Hotness_Metrics_zip_History.csv'

In [ ]:
# new data frame with split value columns
new = zip_hotness["zip_name"].str.split(",", n = 1, expand = True)

# making separate first name column from new data frame
zip_hotness["zipname"]= new[0]
  
# making separate last name column from new data frame
zip_hotness["state_id"]= new[1]

# Dropping old Name columns
zip_hotness.drop(columns =["zip_name"], inplace = True)

zip_hotness

In [ ]:
for col in zip_hotness.columns:
    print(col)

In [ ]:
zip_hotness = zip_hotness[[

'month_date_yyyymm',
'state_id',
'zipname',
'postal_code',
'nielsen_hh_rank',
'hotness_rank',
'hotness_rank_mm',
'hotness_rank_yy',
'hotness_score',
'supply_score',
'demand_score',
'median_days_on_market',
'median_days_on_market_mm',
'median_dom_mm_day',
'median_days_on_market_yy',
'median_dom_yy_day',
'median_dom_vs_us',
'ldp_unique_viewers_per_property_mm',
'ldp_unique_viewers_per_property_yy',
'ldp_unique_viewers_per_property_vs_us',
'median_listing_price',
'median_listing_price_mm',
'median_listing_price_yy',
'median_listing_price_vs_us'
  
]]
zip_hotness

In [ ]:
zip_hotness.to_csv("../Output/Hotness_Metrics_By_Zip.csv")

# 4. Monthly Metrics by Country

In [ ]:
monthly_country = pd.read_csv("../Dataset/Monthly_Inventory/Historical/Metrics_Country_History.csv")
monthly_country

In [ ]:
for col in monthly_country.columns:
    print(col)

In [ ]:
monthly_country.to_csv("../Output/Monthly_Metrics_By_Country.csv")

In [ ]:
# Loading data into Postgres Database 
monthly_country.to_sql(name='monthly_by_country', con=engine, if_exists='append', index=False)

# 5. Monthly Metrics by County

In [ ]:
monthly_county = pd.read_csv("../Dataset/Monthly_Inventory/Historical/Metrics_County_History.csv")
monthly_county

In [ ]:
# new data frame with split value columns
new = monthly_county["county_name"].str.split(",", n = 1, expand = True)
  
# making separate first name column from new data frame
monthly_county["county"]= new[0]
  
# making separate last name column from new data frame
monthly_county["state_id"]= new[1]

In [ ]:
# Dropping old Name columns
monthly_county.drop(columns =["county_name"], inplace = True)
monthly_county['county'] = monthly_county['county'].str.replace(',', '')

In [ ]:
for col in monthly_county.columns:
    print(col)

In [ ]:
monthly_county = monthly_county[[

'month_date_yyyymm',
'state_id',
'county',
'county_fips',
'median_listing_price',
'median_listing_price_mm',
'median_listing_price_yy',
'active_listing_count',
'active_listing_count_mm',
'active_listing_count_yy',
'median_days_on_market',
'median_days_on_market_mm',
'median_days_on_market_yy',
'new_listing_count',
'new_listing_count_mm',
'new_listing_count_yy',
'price_increased_count',
'price_increased_count_mm',
'price_increased_count_yy',
'price_reduced_count',
'price_reduced_count_mm',
'price_reduced_count_yy',
'pending_listing_count',
'pending_listing_count_mm',
'pending_listing_count_yy',
'median_listing_price_per_square_foot',
'median_listing_price_per_square_foot_mm',
'median_listing_price_per_square_foot_yy',
'median_square_feet',
'median_square_feet_mm',
'median_square_feet_yy',
'average_listing_price',
'average_listing_price_mm',
'average_listing_price_yy',
'total_listing_count',
'total_listing_count_mm',
'total_listing_count_yy',
'pending_ratio',
'pending_ratio_mm',
'pending_ratio_yy'
]]
monthly_county

In [ ]:
monthly_county.to_csv("../Output/Monthly_Metrics_By_County.csv")

In [ ]:
monthly_county['state_id'] = monthly_county['state_id'].astype('string')
monthly_county['county'] = monthly_county['county'].astype('string')
monthly_county.dtypes

In [ ]:
# Loading data into Postgres Database 
monthly_county.to_sql(name='monthly_by_county', con=engine, if_exists='append', index=False)

# 6. Monthly Metrics by Metro

In [19]:
monthly_metro = pd.read_csv("../Dataset/Monthly_Inventory/Historical/Metrics_Metro_History.csv")
monthly_metro

,month_date_yyyymm,cbsa_code,cbsa_title,HouseholdRank,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202108,35620,"new york-newark-jersey city, ny-nj-pa",1,602500.0,0.0058,-0.0267,64288,0.0326,-0.1286,...,-0.1298,1.313384e+06,0.0824,0.1175,97648,0.0384,-0.0796,0.518915,0.0085,0.0809
1,202108,31080,"los angeles-long beach-anaheim, ca",2,974500.0,-0.0245,-0.0245,14288,0.0092,-0.1759,...,-0.0626,2.372414e+06,-0.0214,0.0550,28984,0.0038,-0.1342,1.028555,-0.0108,0.0978
2,202108,16980,"chicago-naperville-elgin, il-in-wi",3,340950.0,-0.0256,-0.0231,22164,0.0445,-0.1683,...,-0.0876,4.994379e+05,-0.0403,-0.0025,44173,-0.0078,-0.1497,0.993007,-0.1051,0.0437
3,202108,19100,"dallas-fort worth-arlington, tx",4,396495.0,0.0038,0.1014,9110,0.1037,-0.3734,...,-0.0806,5.679595e+05,-0.0214,0.0674,23662,0.0466,-0.2174,1.597366,-0.1417,0.5176
4,202108,26420,"houston-the woodlands-sugar land, tx",5,364217.5,-0.0021,0.1054,16357,0.0924,-0.2516,...,-0.0694,5.265473e+05,-0.0340,0.0694,32162,0.0197,-0.1462,0.966253,-0.1403,0.2428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56849,201607,46900,"vernon, tx",913,139000.0,NaN,NaN,3,NaN,NaN,...,NaN,1.728000e+05,NaN,NaN,5,NaN,NaN,0.666667,NaN,NaN
56850,201607,18780,"craig, co",914,175000.0,NaN,NaN,186,NaN,NaN,...,NaN,2.134051e+05,NaN,NaN,208,NaN,NaN,0.118280,NaN,NaN
56851,201607,29500,"lamesa, tx",915,101900.0,NaN,NaN,11,NaN,NaN,...,NaN,1.304111e+05,NaN,NaN,13,NaN,NaN,0.181818,NaN,NaN
56852,201607,49820,"zapata, tx",916,128000.0,NaN,NaN,27,NaN,NaN,...,NaN,1.290893e+05,NaN,NaN,27,NaN,NaN,0.000000,NaN,NaN
56853,201607,37780,"pecos, tx",917,169900.0,NaN,NaN,5,NaN,NaN,...,NaN,1.019750e+05,NaN,NaN,6,NaN,NaN,0.200000,NaN,NaN

In [20]:
# new data frame with split value columns
new = monthly_metro["cbsa_title"].str.split(",", n = 1, expand = True)
  
# making separate first name column from new data frame
monthly_metro["metro"]= new[0]
  
# making separate last name column from new data frame
monthly_metro["state_id"]= new[1]

monthly_metro

,month_date_yyyymm,cbsa_code,cbsa_title,HouseholdRank,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,metro,state_id
0,202108,35620,"new york-newark-jersey city, ny-nj-pa",1,602500.0,0.0058,-0.0267,64288,0.0326,-0.1286,...,0.0824,0.1175,97648,0.0384,-0.0796,0.518915,0.0085,0.0809,new york-newark-jersey city,ny-nj-pa
1,202108,31080,"los angeles-long beach-anaheim, ca",2,974500.0,-0.0245,-0.0245,14288,0.0092,-0.1759,...,-0.0214,0.0550,28984,0.0038,-0.1342,1.028555,-0.0108,0.0978,los angeles-long beach-anaheim,ca
2,202108,16980,"chicago-naperville-elgin, il-in-wi",3,340950.0,-0.0256,-0.0231,22164,0.0445,-0.1683,...,-0.0403,-0.0025,44173,-0.0078,-0.1497,0.993007,-0.1051,0.0437,chicago-naperville-elgin,il-in-wi
3,202108,19100,"dallas-fort worth-arlington, tx",4,396495.0,0.0038,0.1014,9110,0.1037,-0.3734,...,-0.0214,0.0674,23662,0.0466,-0.2174,1.597366,-0.1417,0.5176,dallas-fort worth-arlington,tx
4,202108,26420,"houston-the woodlands-sugar land, tx",5,364217.5,-0.0021,0.1054,16357,0.0924,-0.2516,...,-0.0340,0.0694,32162,0.0197,-0.1462,0.966253,-0.1403,0.2428,houston-the woodlands-sugar land,tx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56849,201607,46900,"vernon, tx",913,139000.0,NaN,NaN,3,NaN,NaN,...,NaN,NaN,5,NaN,NaN,0.666667,NaN,NaN,vernon,tx
56850,201607,18780,"craig, co",914,175000.0,NaN,NaN,186,NaN,NaN,...,NaN,NaN,208,NaN,NaN,0.118280,NaN,NaN,craig,co
56851,201607,29500,"lamesa, tx",915,101900.0,NaN,NaN,11,NaN,NaN,...,NaN,NaN,13,NaN,NaN,0.181818,NaN,NaN,lamesa,tx
56852,201607,49820,"zapata, tx",916,128000.0,NaN,NaN,27,NaN,NaN,...,NaN,NaN,27,NaN,NaN,0.000000,NaN,NaN,zapata,tx
56853,201607,37780,"pecos, tx",917,169900.0,NaN,NaN,5,NaN,NaN,...,NaN,NaN,6,NaN,NaN,0.200000,NaN,NaN,pecos,tx

In [21]:
for col in monthly_metro.columns:
    print(col)

month_date_yyyymm
cbsa_code
cbsa_title
HouseholdRank
median_listing_price
median_listing_price_mm
median_listing_price_yy
active_listing_count
active_listing_count_mm
active_listing_count_yy
median_days_on_market
median_days_on_market_mm
median_days_on_market_yy
new_listing_count
new_listing_count_mm
new_listing_count_yy
price_increased_count
price_increased_count_mm
price_increased_count_yy
price_reduced_count
price_reduced_count_mm
price_reduced_count_yy
pending_listing_count
pending_listing_count_mm
pending_listing_count_yy
median_listing_price_per_square_foot
median_listing_price_per_square_foot_mm
median_listing_price_per_square_foot_yy
median_square_feet
median_square_feet_mm
median_square_feet_yy
average_listing_price
average_listing_price_mm
average_listing_price_yy
total_listing_count
total_listing_count_mm
total_listing_count_yy
pending_ratio
pending_ratio_mm
pending_ratio_yy
metro
state_id

In [22]:
monthly_metro = monthly_metro[[
    
'month_date_yyyymm',
'metro',
'state_id',
'cbsa_code',
'cbsa_title',
'HouseholdRank',
'median_listing_price',
'median_listing_price_mm',
'median_listing_price_yy',
'active_listing_count',
'active_listing_count_mm',
'active_listing_count_yy',
'median_days_on_market',
'median_days_on_market_mm',
'median_days_on_market_yy',
'new_listing_count',
'new_listing_count_mm',
'new_listing_count_yy',
'price_increased_count',
'price_increased_count_mm',
'price_increased_count_yy',
'price_reduced_count',
'price_reduced_count_mm',
'price_reduced_count_yy',
'pending_listing_count',
'pending_listing_count_mm',
'pending_listing_count_yy',
'median_listing_price_per_square_foot',
'median_listing_price_per_square_foot_mm',
'median_listing_price_per_square_foot_yy',
'median_square_feet',
'median_square_feet_mm',
'median_square_feet_yy',
'average_listing_price',
'average_listing_price_mm',
'average_listing_price_yy',
'total_listing_count',
'total_listing_count_mm',
'total_listing_count_yy',
'pending_ratio',
'pending_ratio_mm',
'pending_ratio_yy'

]]
monthly_metro

,month_date_yyyymm,metro,state_id,cbsa_code,cbsa_title,HouseholdRank,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202108,new york-newark-jersey city,ny-nj-pa,35620,"new york-newark-jersey city, ny-nj-pa",1,602500.0,0.0058,-0.0267,64288,...,-0.1298,1.313384e+06,0.0824,0.1175,97648,0.0384,-0.0796,0.518915,0.0085,0.0809
1,202108,los angeles-long beach-anaheim,ca,31080,"los angeles-long beach-anaheim, ca",2,974500.0,-0.0245,-0.0245,14288,...,-0.0626,2.372414e+06,-0.0214,0.0550,28984,0.0038,-0.1342,1.028555,-0.0108,0.0978
2,202108,chicago-naperville-elgin,il-in-wi,16980,"chicago-naperville-elgin, il-in-wi",3,340950.0,-0.0256,-0.0231,22164,...,-0.0876,4.994379e+05,-0.0403,-0.0025,44173,-0.0078,-0.1497,0.993007,-0.1051,0.0437
3,202108,dallas-fort worth-arlington,tx,19100,"dallas-fort worth-arlington, tx",4,396495.0,0.0038,0.1014,9110,...,-0.0806,5.679595e+05,-0.0214,0.0674,23662,0.0466,-0.2174,1.597366,-0.1417,0.5176
4,202108,houston-the woodlands-sugar land,tx,26420,"houston-the woodlands-sugar land, tx",5,364217.5,-0.0021,0.1054,16357,...,-0.0694,5.265473e+05,-0.0340,0.0694,32162,0.0197,-0.1462,0.966253,-0.1403,0.2428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56849,201607,vernon,tx,46900,"vernon, tx",913,139000.0,NaN,NaN,3,...,NaN,1.728000e+05,NaN,NaN,5,NaN,NaN,0.666667,NaN,NaN
56850,201607,craig,co,18780,"craig, co",914,175000.0,NaN,NaN,186,...,NaN,2.134051e+05,NaN,NaN,208,NaN,NaN,0.118280,NaN,NaN
56851,201607,lamesa,tx,29500,"lamesa, tx",915,101900.0,NaN,NaN,11,...,NaN,1.304111e+05,NaN,NaN,13,NaN,NaN,0.181818,NaN,NaN
56852,201607,zapata,tx,49820,"zapata, tx",916,128000.0,NaN,NaN,27,...,NaN,1.290893e+05,NaN,NaN,27,NaN,NaN,0.000000,NaN,NaN
56853,201607,pecos,tx,37780,"pecos, tx",917,169900.0,NaN,NaN,5,...,NaN,1.019750e+05,NaN,NaN,6,NaN,NaN,0.200000,NaN,NaN

In [23]:
monthly_metro.to_csv("../Output/Monthly_Metrics_By_Metro.csv")

In [26]:
monthly_metro = monthly_metro.rename(columns={'HouseholdRank ':'HouseholdRank'})
monthly_metro.head()

,month_date_yyyymm,metro,state_id,cbsa_code,cbsa_title,HouseholdRank,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202108,new york-newark-jersey city,ny-nj-pa,35620,"new york-newark-jersey city, ny-nj-pa",1,602500.0,0.0058,-0.0267,64288,...,-0.1298,1.313384e+06,0.0824,0.1175,97648,0.0384,-0.0796,0.518915,0.0085,0.0809
1,202108,los angeles-long beach-anaheim,ca,31080,"los angeles-long beach-anaheim, ca",2,974500.0,-0.0245,-0.0245,14288,...,-0.0626,2.372414e+06,-0.0214,0.0550,28984,0.0038,-0.1342,1.028555,-0.0108,0.0978
2,202108,chicago-naperville-elgin,il-in-wi,16980,"chicago-naperville-elgin, il-in-wi",3,340950.0,-0.0256,-0.0231,22164,...,-0.0876,4.994379e+05,-0.0403,-0.0025,44173,-0.0078,-0.1497,0.993007,-0.1051,0.0437
3,202108,dallas-fort worth-arlington,tx,19100,"dallas-fort worth-arlington, tx",4,396495.0,0.0038,0.1014,9110,...,-0.0806,5.679595e+05,-0.0214,0.0674,23662,0.0466,-0.2174,1.597366,-0.1417,0.5176
4,202108,houston-the woodlands-sugar land,tx,26420,"houston-the woodlands-sugar land, tx",5,364217.5,-0.0021,0.1054,16357,...,-0.0694,5.265473e+05,-0.0340,0.0694,32162,0.0197,-0.1462,0.966253,-0.1403,0.2428

In [27]:
# Loading data into Postgres Database 
monthly_metro.to_sql(name='monthly_by_metro', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "HouseholdRank" of relation "monthly_by_metro" does not exist
LINE 1: ...e_yyyymm, metro, state_id, cbsa_code, cbsa_title, "Household...
                                                             ^

[SQL: INSERT INTO monthly_by_metro (month_date_yyyymm, metro, state_id, cbsa_code, cbsa_title, "HouseholdRank", median_listing_price, median_listing_price_mm, median_listing_price_yy, active_listing_count, active_listing_count_mm, active_listing_count_yy, median_days_on_market, median_days_on_market_mm, median_days_on_market_yy, new_listing_count, new_listing_count_mm, new_listing_count_yy, price_increased_count, price_increased_count_mm, price_increased_count_yy, price_reduced_count, price_reduced_count_mm, price_reduced_count_yy, pending_listing_count, pending_listing_count_mm, pending_listing_count_yy, median_listing_price_per_square_foot, median_listing_price_per_square_foot_mm, median_listing_price_per_square_foot_yy, median_square_feet, median_square_feet_mm, median_square_feet_yy, average_listing_price, average_listing_price_mm, average_listing_price_yy, total_listing_count, total_listing_count_mm, total_listing_count_yy, pending_ratio, pending_ratio_mm, pending_ratio_yy) VALUES (%(month_date_yyyymm)s, %(metro)s, %(state_id)s, %(cbsa_code)s, %(cbsa_title)s, %(HouseholdRank)s, %(median_listing_price)s, %(median_listing_price_mm)s, %(median_listing_price_yy)s, %(active_listing_count)s, %(active_listing_count_mm)s, %(active_listing_count_yy)s, %(median_days_on_market)s, %(median_days_on_market_mm)s, %(median_days_on_market_yy)s, %(new_listing_count)s, %(new_listing_count_mm)s, %(new_listing_count_yy)s, %(price_increased_count)s, %(price_increased_count_mm)s, %(price_increased_count_yy)s, %(price_reduced_count)s, %(price_reduced_count_mm)s, %(price_reduced_count_yy)s, %(pending_listing_count)s, %(pending_listing_count_mm)s, %(pending_listing_count_yy)s, %(median_listing_price_per_square_foot)s, %(median_listing_price_per_square_foot_mm)s, %(median_listing_price_per_square_foot_yy)s, %(median_square_feet)s, %(median_square_feet_mm)s, %(median_square_feet_yy)s, %(average_listing_price)s, %(average_listing_price_mm)s, %(average_listing_price_yy)s, %(total_listing_count)s, %(total_listing_count_mm)s, %(total_listing_count_yy)s, %(pending_ratio)s, %(pending_ratio_mm)s, %(pending_ratio_yy)s)]
[parameters: ({'month_date_yyyymm': 202108, 'metro': 'new york-newark-jersey city', 'state_id': ' ny-nj-pa', 'cbsa_code': 35620, 'cbsa_title': 'new york-newark-jersey city, ny-nj-pa', 'HouseholdRank': 1, 'median_listing_price': 602500.0, 'median_listing_price_mm': 0.0058, 'median_listing_price_yy': -0.0267, 'active_listing_count': 64288, 'active_listing_count_mm': 0.0326, 'active_listing_count_yy': -0.1286, 'median_days_on_market': 58.0, 'median_days_on_market_mm': -0.016949153, 'median_days_on_market_yy': 0.09433962300000001, 'new_listing_count': 24224, 'new_listing_count_mm': 0.0405, 'new_listing_count_yy': -0.0971, 'price_increased_count': 888, 'price_increased_count_mm': -0.075, 'price_increased_count_yy': -0.1494, 'price_reduced_count': 9088, 'price_reduced_count_mm': -0.0813, 'price_reduced_count_yy': -0.2918, 'pending_listing_count': 33360, 'pending_listing_count_mm': 0.0498, 'pending_listing_count_yy': 0.0323, 'median_listing_price_per_square_foot': 221.984375, 'median_listing_price_per_square_foot_mm': 0.0115, 'median_listing_price_per_square_foot_yy': 0.0815, 'median_square_feet': 915.5, 'median_square_feet_mm': -0.0198, 'median_square_feet_yy': -0.1298, 'average_listing_price': 1313384.3, 'average_listing_price_mm': 0.0824, 'average_listing_price_yy': 0.1175, 'total_listing_count': 97648, 'total_listing_count_mm': 0.0384, 'total_listing_count_yy': -0.0796, 'pending_ratio': 0.518914883, 'pending_ratio_mm': 0.0085, 'pending_ratio_yy': 0.0809}, {'month_date_yyyymm': 202108, 'metro': 'los angeles-long beach-anaheim', 'state_id': ' ca', 'cbsa_code': 31080, 'cbsa_title': 'los angeles-long beach-anaheim, ca', 'HouseholdRank': 2, 'median_listing_price': 974500.0, 'median_listing_price_mm': -0.0245, 'median_listing_price_yy': -0.0245, 'active_listing_count': 14288, 'active_listing_count_mm': 0.0092, 'active_listing_count_yy': -0.1759, 'median_days_on_market': 43.0, 'median_days_on_market_mm': 0.0, 'median_days_on_market_yy': -0.156862745, 'new_listing_count': 9720, 'new_listing_count_mm': -0.0683, 'new_listing_count_yy': -0.0338, 'price_increased_count': 468, 'price_increased_count_mm': 0.0833, 'price_increased_count_yy': -0.0565, 'price_reduced_count': 2788, 'price_reduced_count_mm': 0.1894, 'price_reduced_count_yy': -0.2349, 'pending_listing_count': 14696, 'pending_listing_count_mm': -0.0013, 'pending_listing_count_yy': -0.0893, 'median_listing_price_per_square_foot': 584.5614035, 'median_listing_price_per_square_foot_mm': -0.0149, 'median_listing_price_per_square_foot_yy': 0.0785, 'median_square_feet': 1767.0, 'median_square_feet_mm': -0.0183, 'median_square_feet_yy': -0.0626, 'average_listing_price': 2372413.8680000002, 'average_listing_price_mm': -0.0214, 'average_listing_price_yy': 0.055, 'total_listing_count': 28984, 'total_listing_count_mm': 0.0038, 'total_listing_count_yy': -0.1342, 'pending_ratio': 1.028555431, 'pending_ratio_mm': -0.0108, 'pending_ratio_yy': 0.0978}, {'month_date_yyyymm': 202108, 'metro': 'chicago-naperville-elgin', 'state_id': ' il-in-wi', 'cbsa_code': 16980, 'cbsa_title': 'chicago-naperville-elgin, il-in-wi', 'HouseholdRank': 3, 'median_listing_price': 340950.0, 'median_listing_price_mm': -0.0256, 'median_listing_price_yy': -0.0231, 'active_listing_count': 22164, 'active_listing_count_mm': 0.0445, 'active_listing_count_yy': -0.1683, 'median_days_on_market': 35.5, 'median_days_on_market_mm': 0.014285714, 'median_days_on_market_yy': -0.154761905, 'new_listing_count': 15608, 'new_listing_count_mm': -0.0762, 'new_listing_count_yy': -0.0488, 'price_increased_count': 228, 'price_increased_count_mm': -0.2875, 'price_increased_count_yy': -0.6174, 'price_reduced_count': 7884, 'price_reduced_count_mm': 0.0818, 'price_reduced_count_yy': -0.095, 'pending_listing_count': 22009, 'pending_listing_count_mm': -0.0554, 'pending_listing_count_yy': -0.13, 'median_listing_price_per_square_foot': 182.6875, 'median_listing_price_per_square_foot_mm': -0.0132, 'median_listing_price_per_square_foot_yy': 0.1009, 'median_square_feet': 1584.0, 'median_square_feet_mm': -0.0075, 'median_square_feet_yy': -0.0876, 'average_listing_price': 499437.8663, 'average_listing_price_mm': -0.0403, 'average_listing_price_yy': -0.0025, 'total_listing_count': 44173, 'total_listing_count_mm': -0.0078, 'total_listing_count_yy': -0.1497, 'pending_ratio': 0.993006677, 'pending_ratio_mm': -0.1051, 'pending_ratio_yy': 0.0437}, {'month_date_yyyymm': 202108, 'metro': 'dallas-fort worth-arlington', 'state_id': ' tx', 'cbsa_code': 19100, 'cbsa_title': 'dallas-fort worth-arlington, tx', 'HouseholdRank': 4, 'median_listing_price': 396495.0, 'median_listing_price_mm': 0.0038, 'median_listing_price_yy': 0.1014, 'active_listing_count': 9110, 'active_listing_count_mm': 0.1037, 'active_listing_count_yy': -0.3734, 'median_days_on_market': 31.0, 'median_days_on_market_mm': 0.068965517, 'median_days_on_market_yy': -0.326086957, 'new_listing_count': 8516, 'new_listing_count_mm': -0.1122, 'new_listing_count_yy': -0.006999999999999999, 'price_increased_count': 496, 'price_increased_count_mm': 0.0598, 'price_increased_count_yy': -0.5649, 'price_reduced_count': 3848, 'price_reduced_count_mm': 0.1032, 'price_reduced_count_yy': -0.3451, 'pending_listing_count': 14552, 'pending_listing_count_mm': 0.0138, 'pending_listing_count_yy': -0.073, 'median_listing_price_per_square_foot': 183.5236677, 'median_listing_price_per_square_foot_mm': 0.0106, 'median_listing_price_per_square_foot_yy': 0.1903, 'median_square_feet': 2168.0, 'median_square_feet_mm': 0.0018, 'median_square_feet_yy': -0.0806, 'average_listing_price': 567959.4831, 'average_listing_price_mm': -0.0214, 'average_listing_price_yy': 0.0674, 'total_listing_count': 23662, 'total_listing_count_mm': 0.0466, 'total_listing_count_yy': -0.2174, 'pending_ratio': 1.597365532, 'pending_ratio_mm': -0.1417, 'pending_ratio_yy': 0.5176}, {'month_date_yyyymm': 202108, 'metro': 'houston-the woodlands-sugar land', 'state_id': ' tx', 'cbsa_code': 26420, 'cbsa_title': 'houston-the woodlands-sugar land, tx', 'HouseholdRank': 5, 'median_listing_price': 364217.5, 'median_listing_price_mm': -0.0021, 'median_listing_price_yy': 0.1054, 'active_listing_count': 16357, 'active_listing_count_mm': 0.0924, 'active_listing_count_yy': -0.2516, 'median_days_on_market': 37.0, 'median_days_on_market_mm': 0.027777778, 'median_days_on_market_yy': -0.27450980399999997, 'new_listing_count': 10192, 'new_listing_count_mm': -0.1012, 'new_listing_count_yy': 0.0438, 'price_increased_count': 904, 'price_increased_count_mm': -0.0583, 'price_increased_count_yy': -0.5232, 'price_reduced_count': 5992, 'price_reduced_count_mm': 0.1444, 'price_reduced_count_yy': -0.126, 'pending_listing_count': 15805, 'pending_listing_count_mm': -0.0461, 'pending_listing_count_yy': -0.0004, 'median_listing_price_per_square_foot': 163.7686686, 'median_listing_price_per_square_foot_mm': -0.0052, 'median_listing_price_per_square_foot_yy': 0.182, 'median_square_feet': 2233.5, 'median_square_feet_mm': -0.0078, 'median_square_feet_yy': -0.0694, 'average_listing_price': 526547.3491, 'average_listing_price_mm': -0.034, 'average_listing_price_yy': 0.0694, 'total_listing_count': 32162, 'total_listing_count_mm': 0.0197, 'total_listing_count_yy': -0.1462, 'pending_ratio': 0.96625298, 'pending_ratio_mm': -0.1403, 'pending_ratio_yy': 0.2428}, {'month_date_yyyymm': 202108, 'metro': 'philadelphia-camden-wilmington', 'state_id': ' pa-nj-de-md', 'cbsa_code': 37980, 'cbsa_title': 'philadelphia-camden-wilmington, pa-nj-de-md', 'HouseholdRank': 6, 'median_listing_price': 321000.0, 'median_listing_price_mm': -0.0123, 'median_listing_price_yy': -0.0641, 'active_listing_count': 10931, 'active_listing_count_mm': 0.0283, 'active_listing_count_yy': 0.0094, 'median_days_on_market': 42.5, 'median_days_on_market_mm': 0.0625, 'median_days_on_market_yy': -0.055555556, 'new_listing_count': 7496, 'new_listing_count_mm': -0.0695, 'new_listing_count_yy': 0.133, 'price_increased_count': 392, 'price_increased_count_mm': 0.1807, 'price_increased_count_yy': -0.3718, 'price_reduced_count': 3784, 'price_reduced_count_mm': 0.0139, 'price_reduced_count_yy': 0.1752, 'pending_listing_count': 14796, 'pending_listing_count_mm': -0.0372, 'pending_listing_count_yy': 3.4023, 'median_listing_price_per_square_foot': 188.04434840000002, 'median_listing_price_per_square_foot_mm': 0.002, 'median_listing_price_per_square_foot_yy': 0.0796, 'median_square_feet': 1594.5, 'median_square_feet_mm': -0.0096, 'median_square_feet_yy': -0.1067, 'average_listing_price': 473471.4128, 'average_listing_price_mm': -0.0294, 'average_listing_price_yy': -0.0654, 'total_listing_count': 25727, 'total_listing_count_mm': -0.0104, 'total_listing_count_yy': 0.813, 'pending_ratio': 1.3535815569999998, 'pending_ratio_mm': -0.092, 'pending_ratio_yy': 1.0432}, {'month_date_yyyymm': 202108, 'metro': 'washington-arlington-alexandria', 'state_id': ' dc-va-md-wv', 'cbsa_code': 47900, 'cbsa_title': 'washington-arlington-alexandria, dc-va-md-wv', 'HouseholdRank': 7, 'median_listing_price': 503182.5, 'median_listing_price_mm': -0.0228, 'median_listing_price_yy': -0.0416, 'active_listing_count': 10044, 'active_listing_count_mm': 0.0133, 'active_listing_count_yy': 0.1706, 'median_days_on_market': 33.0, 'median_days_on_market_mm': 0.1, 'median_days_on_market_yy': 0.1, 'new_listing_count': 8248, 'new_listing_count_mm': -0.1347, 'new_listing_count_yy': 0.0968, 'price_increased_count': 332, 'price_increased_count_mm': -0.1863, 'price_increased_count_yy': -0.461, 'price_reduced_count': 3656, 'price_reduced_count_mm': 0.1065, 'price_reduced_count_yy': 0.5083, 'pending_listing_count': 12569, 'pending_listing_count_mm': -0.0154, 'pending_listing_count_yy': 1.7294, 'median_listing_price_per_square_foot': 273.47877919999996, 'median_listing_price_per_square_foot_mm': -0.0213, 'median_listing_price_per_square_foot_yy': 0.0953, 'median_square_feet': 1798.5, 'median_square_feet_mm': 0.0019, 'median_square_feet_yy': -0.0998, 'average_listing_price': 737900.1466, 'average_listing_price_mm': -0.0215, 'average_listing_price_yy': -0.0798, 'total_listing_count': 22613, 'total_listing_count_mm': -0.0028, 'total_listing_count_yy': 0.7151, 'pending_ratio': 1.251393867, 'pending_ratio_mm': -0.0364, 'pending_ratio_yy': 0.7147}, {'month_date_yyyymm': 202108, 'metro': 'miami-fort lauderdale-west palm beach', 'state_id': ' fl', 'cbsa_code': 33100, 'cbsa_title': 'miami-fort lauderdale-west palm beach, fl', 'HouseholdRank': 8, 'median_listing_price': 455750.0, 'median_listing_price_mm': 0.0128, 'median_listing_price_yy': 0.1253, 'active_listing_count': 21512, 'active_listing_count_mm': -0.004, 'active_listing_count_yy': -0.4665, 'median_days_on_market': 59.0, 'median_days_on_market_mm': 0.0, 'median_days_on_market_yy': -0.36559139799999996, 'new_listing_count': 9432, 'new_listing_count_mm': -0.0324, 'new_listing_count_yy': -0.1017, 'price_increased_count': 1032, 'price_increased_count_mm': -0.019, 'price_increased_count_yy': 0.2836, 'price_reduced_count': 3632, 'price_reduced_count_mm': -0.032, 'price_reduced_count_yy': -0.4643, 'pending_listing_count': 19491, 'pending_listing_count_mm': -0.0761, 'pending_listing_count_yy': 0.0053, 'median_listing_price_per_square_foot': 317.2695312, 'median_listing_price_per_square_foot_mm': 0.0115, 'median_listing_price_per_square_foot_yy': 0.2004, 'median_square_feet': 1334.0, 'median_square_feet_mm': 0.0068, 'median_square_feet_yy': -0.0162, 'average_listing_price': 1200986.118, 'average_listing_price_mm': 0.0108, 'average_listing_price_yy': 0.2019, 'total_listing_count': 41003, 'total_listing_count_mm': -0.0396, 'total_listing_count_yy': -0.3133, 'pending_ratio': 0.906052436, 'pending_ratio_mm': -0.0707, 'pending_ratio_yy': 0.4252}  ... displaying 10 of 56854 total bound parameter sets ...  {'month_date_yyyymm': 201607, 'metro': 'zapata', 'state_id': ' tx', 'cbsa_code': 49820, 'cbsa_title': 'zapata, tx', 'HouseholdRank': 916, 'median_listing_price': 128000.0, 'median_listing_price_mm': None, 'median_listing_price_yy': None, 'active_listing_count': 27, 'active_listing_count_mm': None, 'active_listing_count_yy': None, 'median_days_on_market': 94.0, 'median_days_on_market_mm': None, 'median_days_on_market_yy': None, 'new_listing_count': 0, 'new_listing_count_mm': None, 'new_listing_count_yy': None, 'price_increased_count': 0, 'price_increased_count_mm': None, 'price_increased_count_yy': None, 'price_reduced_count': 0, 'price_reduced_count_mm': None, 'price_reduced_count_yy': None, 'pending_listing_count': 0, 'pending_listing_count_mm': None, 'pending_listing_count_yy': None, 'median_listing_price_per_square_foot': 70.87628866, 'median_listing_price_per_square_foot_mm': None, 'median_listing_price_per_square_foot_yy': None, 'median_square_feet': 1568.0, 'median_square_feet_mm': None, 'median_square_feet_yy': None, 'average_listing_price': 129089.2857, 'average_listing_price_mm': None, 'average_listing_price_yy': None, 'total_listing_count': 27, 'total_listing_count_mm': None, 'total_listing_count_yy': None, 'pending_ratio': 0.0, 'pending_ratio_mm': None, 'pending_ratio_yy': None}, {'month_date_yyyymm': 201607, 'metro': 'pecos', 'state_id': ' tx', 'cbsa_code': 37780, 'cbsa_title': 'pecos, tx', 'HouseholdRank': 917, 'median_listing_price': 169900.0, 'median_listing_price_mm': None, 'median_listing_price_yy': None, 'active_listing_count': 5, 'active_listing_count_mm': None, 'active_listing_count_yy': None, 'median_days_on_market': 40.0, 'median_days_on_market_mm': None, 'median_days_on_market_yy': None, 'new_listing_count': 0, 'new_listing_count_mm': None, 'new_listing_count_yy': None, 'price_increased_count': 0, 'price_increased_count_mm': None, 'price_increased_count_yy': None, 'price_reduced_count': 0, 'price_reduced_count_mm': None, 'price_reduced_count_yy': None, 'pending_listing_count': 1, 'pending_listing_count_mm': None, 'pending_listing_count_yy': None, 'median_listing_price_per_square_foot': 120.42581499999999, 'median_listing_price_per_square_foot_mm': None, 'median_listing_price_per_square_foot_yy': None, 'median_square_feet': 1418.0, 'median_square_feet_mm': None, 'median_square_feet_yy': None, 'average_listing_price': 101975.0, 'average_listing_price_mm': None, 'average_listing_price_yy': None, 'total_listing_count': 6, 'total_listing_count_mm': None, 'total_listing_count_yy': None, 'pending_ratio': 0.2, 'pending_ratio_mm': None, 'pending_ratio_yy': None})]
(Background on this error at: http://sqlalche.me/e/13/f405)

# 7. Monthly Metrics by State

In [ ]:
monthly_state = pd.read_csv("../Dataset/Monthly_Inventory/Historical/Metrics_State_History.csv")
monthly_state

In [ ]:
for col in monthly_state.columns:
    print(col)

In [ ]:
monthly_state.to_csv("../Output/Monthly_Metrics_By_State.csv")

In [ ]:
# Loading data into Postgres Database 
monthly_state.to_sql(name='monthly_by_state', con=engine, if_exists='append', index=False)

# 8. Weekly Metrics by Country

In [ ]:
weekly_country = pd.read_csv("../Dataset/Weekly_Inventory/weekly_by_country.csv")
weekly_country

In [ ]:
for col in weekly_country.columns:
    print(col)

In [ ]:
weekly_country['median_listing_price_yy'] = weekly_country['median_listing_price_yy'].str.rstrip('%')
weekly_country['active_listing_count_yy'] = weekly_country['active_listing_count_yy'].str.rstrip('%')
weekly_country['median_days_on_market_yy'] = weekly_country['median_days_on_market_yy'].str.rstrip('%')
weekly_country['new_listing_count_yy'] = weekly_country['new_listing_count_yy'].str.rstrip('%')
weekly_country['new_listing_share_yy'] = weekly_country['new_listing_share_yy'].str.rstrip('%')
weekly_country['price_reduced_count_yy'] = weekly_country['price_reduced_count_yy'].str.rstrip('%')
weekly_country['price_reduced_share_yy'] = weekly_country['price_reduced_share_yy'].str.rstrip('%')
weekly_country

In [ ]:
weekly_country.dtypes

In [ ]:
weekly_country['week_end_date'] = pd.to_datetime(weekly_country['week_end_date'])

In [ ]:
weekly_country.dtypes

In [ ]:
weekly_country.to_csv("../Output/Weekly_Metrics_By_Country.csv")

In [ ]:
# Loading data into Postgres Database 
weekly_country.to_sql(name='weekly_by_country', con=engine, if_exists='append', index=False)

# 9. Weekly Metrics by Metro

In [ ]:
weekly_metro = pd.read_csv("../Dataset/Weekly_Inventory/weekly_by_metro.csv")
weekly_metro

In [ ]:
# new data frame with split value columns
new = weekly_metro["cbsa_title"].str.split(",", n = 1, expand = True)
  
# making separate first name column from new data frame
weekly_metro["metro"]= new[0]
  
# making separate last name column from new data frame
weekly_metro["state_id"]= new[1]

weekly_metro

In [ ]:
for col in weekly_metro.columns:
    print(col)

In [ ]:
weekly_metro = weekly_metro[[

'week_end_date',
'metro',
'state_id',
'cbsa_code',
'cbsa_title',
'hh_rank',
'median_listing_price_yy',
'active_listing_count_yy',
'median_days_on_market_by_day_yy',
'median_days_on_market_yy',
'new_listing_count_yy',
'new_listing_share_yy',
'price_reduced_count_yy',
'price_reduced_share_yy'

]]
weekly_metro

In [ ]:
weekly_metro['median_listing_price_yy'] = weekly_metro['median_listing_price_yy'].str.rstrip('%')
weekly_metro['active_listing_count_yy'] = weekly_metro['active_listing_count_yy'].str.rstrip('%')
weekly_metro['median_days_on_market_yy'] = weekly_metro['median_days_on_market_yy'].str.rstrip('%')
weekly_metro['new_listing_count_yy'] = weekly_metro['new_listing_count_yy'].str.rstrip('%')
weekly_metro['new_listing_share_yy'] = weekly_metro['new_listing_share_yy'].str.rstrip('%')
weekly_metro['price_reduced_count_yy'] = weekly_metro['price_reduced_count_yy'].str.rstrip('%')
weekly_metro['price_reduced_share_yy'] = weekly_metro['price_reduced_share_yy'].str.rstrip('%')
weekly_metro

In [ ]:
weekly_metro.to_csv("../Output/Weekly_Metrics_By_Metro.csv")

In [ ]:
# Loading data into Postgres Database 
weekly_metro.to_sql(name='weekly_by_metro', con=engine, if_exists='append', index=False)

# States Table

In [ ]:
# states_table = pd.DataFrame(monthly_state['state_id'].unique(), monthly_state['state'].unique())
# states_table.rename(columns={'0':'state_short_name'}, inplace=True)
# states_table.reset_index()
# states_table

In [ ]:
# states_table.to_csv("../Output/states_table.csv")

# Getting total State_ids

In [ ]:
merge_columns = pd.concat([
    
df['state_id'],
metro_hotness['state_id'], 
# zip_hotness['state_id'],
#monthly_county['state_id'],
monthly_metro['state_id'],
#monthly_state['state_id'],
weekly_metro ['state_id']
])
merge_columns

In [ ]:
merged_frame = pd.DataFrame(merge_columns)
merged_frame

In [ ]:
final_frame = merged_frame.drop_duplicates(subset=['state_id'],keep='first',ignore_index = True)
sorted_frame = final_frame.sort_values(by=['state_id'])
sorted_frame

In [ ]:
sorted_frame.to_csv("../Output/new.csv")